<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Travel Network</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
  
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li *ngIf="!userAuth"><a routerLink="/register">Register</a></li>
       <li *ngIf="!userAuth"><a routerLink="/login">Login</a></li>
       <li *ngIf="userAuth">
         <button (click)="onLogout()" >Logout</button>
        </li>

      </ul>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="#">Travel Netwrok</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="userAuth" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/events">Events</a>
      </li>
      <li *ngIf="userAuth" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/tasks">Task List</a>
      </li>
      <li *ngIf="userAuth">
        <app-chat></app-chat>
      </li>
    </ul>
    <ul class="navbar-nav  my-2 my-lg-0">
      <li class="nav-item" *ngIf="!userAuth">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item" *ngIf="!userAuth">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="userAuth">
        <a class="nav-link" (click)="onLogout()" style="cursor: pointer;">Logout</a>
      </li>

    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </div>
</nav>