<!-- <h1 style="text-align: center;">Travel <br> Network</h1> -->

<div class="form-wraper">
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">

        <div class="form-group">
            <input matInput name="email" ngModel type="email" placeholder="E-Mail"
             #emailInput="ngModel" required email>
        </div>

        <div class="form-group">
            <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>

        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary"  type="submit">Login</button>

        </div>
    </form>

</div>