.container-fluid{
  background-color: red;
}
.btn-outline-primary{
  color: rgb(133, 247, 3);
  border-color: rgb(133, 247, 3);
}
form{
	height: 50%;
	width: 30%;
	margin: auto;
	padding-top: 8%;
	position: relative;
	border-radius: 20px;
}
input{
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group{
text-align: center;
width: 100%;
}

.form-wraper{
display: flex;
height: 90vh;
background: url('../../shared/img/5a2b24baef0b92.8678245015127768909791.png');
background-position: center;
background-repeat: no-repeat;
background-size: contain;
/* background: linear-gradient(30deg, red, rgba(207, 4, 99, 0.178)) */
}

@media screen and (max-width: 700px) {
	input {
	  width: 100%;
	}
  }