/* Event-list Component */
button {
    margin: 5px;
}

body { 
    margin: 0; 
    font-family: 'Lato', sans-serif;
}
.btn-outline-success{
    border-color: #a4f3bb !important;
    color: #6ff396 !important;

    border-radius: 0;
}