<div class="form-wraper">
  <form (submit)="onRegister(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">

    <div class="form-group">
      <input  name="username" ngModel type="text" placeholder="Username" #usernameInput="ngModel" required>
    </div>
    <div class="form-group">

      <input  name="email" ngModel type="email" 
      placeholder="E-Mail" #emailInput="ngModel" required email>
    </div>
    <div class="form-group">

      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
    </div>
    <div>
      <button class="btn btn-outline-primary" type="submit">Register</button>
    </div>
  </form>

</div>