
  <form (submit)="onRegister(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">

      <input matInput name="username" ngModel type="text" placeholder="Username" #usernameInput="ngModel" required >

      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
    

      
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
    
    <button mat-raised-button color="accent" type="submit">Signup</button>
  </form>
