<div class="row" style="position: absolute; width: 100%; height: 100%;">
  <div class="col-md-5 event-list"  >

        <app-event-list></app-event-list>

  </div>
  <div class="col-md-7" style="float: right; margin-top: 4rem;">
     <!-- <a (click)="toMap()">to map</a> -->
     <!-- <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="link?.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav> -->
    <router-outlet></router-outlet>
  </div>
</div>
