.btn-block{
    width: 100%;
}
.btn-block:hover{
    background-color: rgba(172, 255, 47, 0.315);
}
.col-md-8{
    border-radius: 6px;
    padding: 0;
    margin: 0;
    background:  linear-gradient(to bottom right, rgba(255, 0, 149, 0.1), rgba(255, 255, 0, 0.1))
}
.username {
    color: rgba(22, 81, 190, 0.856);
    font-weight: 600;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
background: rgb(241, 236, 225);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    color: black !important;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: relative;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.people {
    color: black;
}
.msgInput{
    position: fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    left: 12em;
    right: 60%;
visibility: hidden;
}
mat-tab{
    height: 100vh;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.jumbotron {
    padding: 10px;
}
.rooms{
    height: 15vh; 
    overflow-y: hidden;
}
.rooms:hover{
    overflow-y: auto;
}
.rooms ol > li{
   border: #f1f1f1;
   cursor: pointer;
}
.rooms ol > li:hover{
    text-align: center;
    font-size: 1.3em;
    border: #121491;
    border-radius: 4px;
    background: #2f2bee;
 }
 .mat-tab-label {
 color: #121491 !important;
     background-color: #e0e0e0;
   }

