
<div style="position: relative;">
    <div #sideChat id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav(sideChat,msgInput,main)">&times;</a>
        <!-- <mat-tab-group >
            <mat-tab label="First"> Content 1 
            
            </mat-tab>
            <mat-tab label="Second"> 
              <div class="row">
                <div class="col-md-12">
                    <ul class="list-group tasks">
                        <li class="list-group-item" *ngFor="let mail of mailbox?.mailbox; let i = index" taskIndex="i">
                          <div class="row">
                            <h2> Title{{mail.title}}</h2>
                            <div class="col-md-6">Date: {{mail.date}}</div>
                            <div class="col-md-6">Author {{mail.author}}</div>
                            <p> Content {{mail.content}}</p>
                          </div>
                         
                        </li>
                      </ul>
                </div>
              </div> </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group> -->
          <div class="row" style="margin-bottom: 2rem;">
            <div class="col-md-12">
                <div id="tab">
                    <mat-tab-group style="color: white;">
                        <mat-tab label="Join Room"> 
                            <div class="row" style="height: 15vh" >
                            <a (click)="onJoinGlobalRoom()" style="cursor: pointer;" >Global room</a>
                            <form class="form-inline" style="color:white;">
                              
                             <input #input class="form-control mb-2 mr-sm-2" type="text"
                              name="room" placeholder="room name" autofocus>
               
                           <button  (click)="onJoinRoom(input) " class="btn btn-outline-primary mb-2 mr-sm-2">
                             Join Room</button>
                            <button (click)="onLeaveRoom(input) " class="btn btn-outline-danger mb-2">
                              Leave Room</button>
                         </form>
                        </div>
                             </mat-tab>
                        <mat-tab label="All Rooms" >
                          <div class="rooms"  >
                              <ol *ngFor="let room of rooms">
                                  <li (click)="onJoinRoom(room)">{{room}}</li>
                                </ol>
                          </div>
                         
                        </mat-tab>
                      </mat-tab-group>
                </div>
           <div class="row">
             
             
             <div class="col-md-4 people" style="overflow-y: auto; height: 60vh;">
                <ul  style="overflow-y: auto;">
                    <li   *ngFor="let user of userList; let i = index">
                    {{ user }}
                    </li>
                  </ul>
             </div>
             <div class="col-md-8" style="overflow-y: auto; height: 60vh;">
               <div class="jumbotron" *ngFor="let msg of messages">
                 {{msg.text}} {{msg.from}}
               </div>
             </div>
           </div>
             
         
            </div>
          </div>
          <div #msgInput class="row msgInput">
      
           <input style="width: 33%;" class="from-control" [(ngModel)]="message" type="text" />
           <button class="btn btn-outline-success" (click)="sendMessage()">send</button>
      
        </div>
       
      </div>
      
</div>
<div #main id="main" style="cursor:pointer; padding: 6px;">

    <li class="nav-item">
        <a style="cursor:pointer; padding: 0;" (click)="openNav(sideChat,msgInput,main)">
          Chat</a></li>
</div>
