
 <div class="row" style="background-color: rgb(241, 241, 241);">
  <a (click)="onJoinGlobalRoom()" style="cursor: pointer;" >Global room</a>
        <div class="form-field" style="color:white;">
          <label>Room Name</label>
          <input #input type="text" name="room" autofocus>
          <button (click)="onJoinRoom(input)" class="btn btn-outline-primary">Join Room</button>
          <button (click)="onLeaveRoom(input)" class="btn btn-outline-danger">Leave Room</button>
      
        </div>
</div>

<div class="row">
  <div class="chat" style="width: 100vw;">
   
    <div class="chat__sidebar">
        <h3>People</h3>
        <div id="users">
          <ul >
            <li  *ngFor="let user of userList; let i = index">
      {{ user }}
            </li>
          </ul>
        </div>
    </div>
  
    <div class="chat__main">
        <ol *ngFor="let msg of messages" id="messages" class="chat__messages">
          {{msg.text}} {{msg.from}}
        </ol>
        <div class="chat__footer"> 
            <form id="message-form">
                <input  [(ngModel)]="message" name="message" type="text" placeholder="Write a message..." autofocus autocomplete="off">
                <button  (click)="sendMessage()">Send</button>
            </form>
            <button id="location">Send location</button>
        </div>
    </div>
  </div>
</div>