<nav class="navbar event-nav">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li (click)="toEvent()">
        <a>Event</a>
      </li>
      <li (click)="toChat()">
        <a>Chat</a>
      </li>
      <li (click)="toMap()">
        <a>Map</a>
      </li>
    </ul>
  </div>
</nav>




  

<div class="wraper">
    <nav *ngIf="userAuth" >
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a (click)="toMap()" class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">Map</a>
          <a (click)="toQuestionWall()" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"  role="tab" aria-controls="nav-contact" aria-selected="false">Question Wall</a>

        </div>
      </nav>
  <div class="row">
  <div class="col-xs-12">
    <h1>{{ event?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <img [src]="event?.img" alt="{{ event?.name }}" class="detail-img">
    <!-- <button class="btn btn-outline-success btn-block btn-sm btn-gallery" (click)="onGallery()">Gallery</button> -->
    <div *ngIf="userAuth" class="dropdown">
      <button class="btn btn-outline-primary btn-block"
      style="margin-top: 0.3rem;">Manage Event</button>
      <div class="dropdown-content">
          <a style="cursor: pointer;" 
          *ngIf="event?.createdBy === userId"
          (click)="onEditEvent()">Edit Event</a>
          <a style="cursor: pointer;"
          *ngIf="event?.createdBy === userId"
           (click)="onDeleteEvent()">Delete Event</a>
          <a *ngIf="event?.members.indexOf(userId) < 0 && event?.slots > 0 || event?.slots === undefined"
             style="cursor: pointer;" 
          (click)="joinEvent()">Join Event</a>
          <a *ngIf="event?.members.indexOf(userId) >= 0" style="cursor: pointer;" 
            (click)="cancelEvent()">Cancel Event</a>
        </div>
    </div>
    <p>start data: {{ event?.startDate }}</p>
    <p>end date: {{ event?.endDate }}</p>
  </div>
  <div class="col-md-7">
    {{ event?.description }} 
  </div>
 
</div>


<hr>
</div>



<div *ngIf="userAuth"  class="row">

    <ul class="list-group tasks">
      <li class="list-group-item" *ngFor="let task of event?.tasks; let i = index" taskIndex="i">

        <div class="col-md-10">
            {{taskIndex}} . {{ task.name }} - {{ task.description }}
        </div>

        <div class="col-md-2" style="padding-right: 0px;">
            <button *ngIf="userAuth && !task.userId &&event?.members.indexOf(userId) >= 0  
                && task.completed == false "
               (click)="onAddToTaskList(task)" 
               class="btn btn-outline-success pull-right">Take</button>
               <p *ngIf="userAuth && task.userId ">Taken</p>
               <p *ngIf="userAuth && task.completed ==true">Complete</p>
        </div>
      </li>
    </ul>

</div>











<!-- <div *ngIf="userAuth && userId === event?.createdBy" class="row">
    <!-- <div class="col-xs-12">
      <!-- <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Event
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="onAddToShoppingList()" style="cursor: pointer;">To Task List</a>
          </li>
          <li>
            <a style="cursor: pointer;" (click)="onEditEvent()">Edit Task</a>
          </li>
          <li>
            <a style="cursor: pointer;" (click)="onDeleteEvent()">Delete Task</a>
          </li>
        </ul>
      </div> -->
      <!-- <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle"role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" >Action</a>
            <a class="dropdown-item" >Another action</a>
            <a class="dropdown-item" >Something else here</a>
          </div>
        </div> -->

