<nav class="navbar event-nav">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li (click)="toEvent()">
        <a>Event</a>
      </li>
      <li (click)="toChat()">
        <a>Chat</a>
      </li>
      <li (click)="toMap()">
        <a>Map</a>
      </li>
    </ul>
  </div>
</nav>




  

<div class="wraper">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a (click)="toMap()" class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">Map</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"  role="tab" aria-controls="nav-contact" aria-selected="false">Members</a>
        </div>
      </nav>
  <div class="row">
  <div class="col-xs-12">
    <h1>{{ event?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <img [src]="event?.img" alt="{{ event?.name }}" class="img-responsive detail-img">
    <button class="btn btn-outline-success btn-block btn-sm btn-gallery" (click)="onGallery()">Gallery</button>
    <p>start data: {{ event?.startDate }}</p>
    <p>end date: {{ event?.endDate }}</p>
  </div>
  <div class="col-md-7">
    {{ event?.description }} 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum labore dolor perferendis dignissimos? Nam nulla tempora quas sequi consequatur! Facere, laudantium laborum excepturi perferendis odit eveniet? Placeat, obcaecati odio ad sed ut neque quia ducimus harum hic corporis odit vel fugit. Dolorum at nam, harum, odio veritatis similique quasi ea debitis voluptatum placeat neque dolores officiis impedit dolore quod voluptatibus enim suscipit magnam tenetur a temporibus numquam culpa! Molestias.
  </div>
 
</div>

<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
        <a (click)="onAddToShoppingList()" style="cursor: pointer;">To Task List</a>
        <a style="cursor: pointer;" (click)="onEditEvent()">Edit Task</a>
        <a style="cursor: pointer;" (click)="onDeleteEvent()">Delete Task</a>
        <button class="btn btn-outline-primary" (click)="joinEvent()">Join Event</button>
        <button class="btn btn-outline-danger" (click)="cancelEvent()">Cancel Event</button>
      </div>
  </div>
<hr>
</div>



<div class="row">

    <ul class="list-group tasks">
      <li class="list-group-item" *ngFor="let task of event?.tasks; let i = index" taskIndex="i">

        {{taskIndex}} . {{ task.name }} - {{ task.description }}

        <button *ngIf="userAuth && !task.userId"
         (click)="onAddToTaskList(task)" 
         class="btn btn-outline-success pull-right">Assign</button>
         <p *ngIf="userAuth && task.userId && task.completed == false">Taken</p>
         <p *ngIf="userAuth && task.completed ==true && task.userId">Complete</p>
      </li>
    </ul>

</div>











<!-- <div *ngIf="userAuth && userId === event?.createdBy" class="row">
    <!-- <div class="col-xs-12">
      <!-- <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Event
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="onAddToShoppingList()" style="cursor: pointer;">To Task List</a>
          </li>
          <li>
            <a style="cursor: pointer;" (click)="onEditEvent()">Edit Task</a>
          </li>
          <li>
            <a style="cursor: pointer;" (click)="onDeleteEvent()">Delete Task</a>
          </li>
        </ul>
      </div> -->
      <!-- <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle"role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" >Action</a>
            <a class="dropdown-item" >Another action</a>
            <a class="dropdown-item" >Something else here</a>
          </div>
        </div> -->

