<div class="row">
  <div class="col-md-6" style="margin: 0 auto; width: 100%;">
    <hr>
    <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer" *ngFor="let task of tasks; let i = index" (click)="onEditItem(i)">
        <h3> {{task.eventName}} </h3>
        <small></small>
        <hr> {{ task.name }} ({{ task.description }})

        <button (click)="onRemoveFromTaskList(task, i)" class="btn btn-outline-danger pull-right">Dismiss</button>
        <button (click)="onTaskComplete(task, i)" class="btn btn-outline-success pull-right">Complete</button>
      </a>
    </ul>
  </div>
  <div class="col-md-6">
      <mat-tab-group>
          <mat-tab label="My Events"> 
              <ul class="tasks">
                  <li *ngFor="let event of userEvents"
                 style="cursor: pointer; width: 100%;" 
                 class="row list-group-item">
                  <div class="col-md-8">
                      <a routerLink='/events/{{event._id}}'>
                    <h4 class="list-group-item-heading">{{ event?.eventName }}</h4>
                  </a>
          
                    <small>Start Date: {{ event?.startDate }}</small>
                  </div>
                  <div class="col-md-4">
                    <img [src]="event?.img" alt="{{ event?.name }}" class="img-responsive" style="max-height: 100%; max-width:100%;">
                  </div>
          
                </li>
              </ul>
               </mat-tab>
          <mat-tab label="Joined Events" >
              <ul class="tasks">
     
                  <li *ngFor="let event of events"
                 style="cursor: pointer; width: 100%;" 
                 class="row list-group-item">
                  <div class="col-md-8">
                      <a routerLink='/events/{{event._id}}'>
                    <h4 class="list-group-item-heading">{{ event?.eventName }}</h4>
                  </a>
          
                    <small>Start Date: {{ event?.startDate }}</small>
                  </div>
                  <div class="col-md-4">
                    <img [src]="event?.img" alt="{{ event?.name }}" class="img-responsive" style="max-height: 100%; max-width:100%;">
                  </div>
          
                </li>
              </ul>
           
          </mat-tab>
        </mat-tab-group>
   
  </div>
</div>