<div class="row">
  <div class="col-xs-10">
    <app-task-edit></app-task-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let task of tasks; let i = index"
        (click)="onEditItem(i)"
      >
      {{task.eventName}}
      <hr>
        {{ task.name }} ({{ task.description }})
        
        <button
        (click)="onRemoveFromTaskList(task)" 
        class="btn btn-outline-danger pull-right">Dismiss</button>
        <button
        (click)="onTaskComplete(task)" 
        class="btn btn-outline-danger pull-right">Complete</button>
        
      </a>
    </ul>
  </div>
</div>
